.default-button {
  background-color: #ff844f;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 30px;
  padding: 0px 10px;
  max-height: 40px;
  cursor: pointer;
}

.button-outlined {
  background-color: #fff;
  font-size: 1.5rem;
  border: 1px solid #ff844f;
  color: #ff844f;
  border-radius: 30px;
  padding: 0px 10px;
  max-height: 40px;
  cursor: pointer;
}

.button-scrolled {
  background-color: #fff;
  font-size: 1.5rem;
  color: #ff8d08;
  border-radius: 30px;
  padding: 0px 10px;
  max-height: 40px;
  cursor: pointer;
}

.button-scrolled-outlined {
  background-color: #ff8d08;
  font-size: 1.5rem;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 0px 10px;
  max-height: 40px;
  cursor: pointer;
}
