button {
  background-color: #ff844f;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 30px;
  padding: 0px 10px;
  max-height: 40px;
}

.button-outlined {
  background-color: #fff;
  font-size: 1.5rem;
  border: 1px solid #ff844f;
  color: #ff844f;
  max-height: 40px;
}
